body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.homepage {
    background-image: url(assets/backgrounds/landing.jpg);
    height:630px;
    width: 100%;
    position: relative;
}
.hr {
    width: 60px;
    left: 10%;
    top: 10%;
    position: absolute;
}
.logo{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 58%;
    font-size: 36px;
    text-align: center;
    color: white;
    width: 40%;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}
.Happyhour {
    width: 100%;
    height: 200px;
    display: inline-flex;
}
.Happyhour table {
    width: 25%;
    border: none;
    text-align: center;
    font-size: 35px;
    
}
.Happyhour tr{
    padding: 0;
    height: 105px;
}
#hh {
    color: rgb(105, 104, 104);
    background-color: gainsboro;
}
#pt {
    color: white;
    background-color: #F15A29;
}
.breakfast {
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    font-style: italic;
}
.breakfasttxt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.lunch {
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    font-style: italic;
    opacity: 0.3;
}
.lunchtxt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.dinner {
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    font-style: italic;
}
.dinnertxt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.fastfood {
    height: 500px;
    width: 100%;
    margin-top: 100px;
    display: inline-flex;
}
.fastfood table{
    border-style: solid;
    border-color: rebeccapurple;
    border-width: 15px;
    margin-left: 120px;
}
.fastfood td {
    padding: 0px; 
 }
.fastfoodtxt {
    color: rgb(101, 101, 101);
    font-size: 20px;
    width: 30%;
    margin-left: 50px;
 }
 .fastfoodtxt button{
    color: #F15A29;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border-color: #F15A29;
    height: 50px;
    width: 200px;
 }
 .drinks {
    height: 500px;
    width: 100%;
    margin-top: 50px;
    display: inline-flex;
}
.drinkstxt {
    color: rgb(101, 101, 101);
    font-size: 20px;
    width: 30%;
    margin-left: 120px;
    text-align: right;
 }
 .drinkstxt button{
    color: #F15A29;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border-color: #F15A29;
    height: 50px;
    width: 200px;
 }
 .drinks table{
    border-style: solid;
    border-color: rebeccapurple;
    border-width: 15px;
    margin-left: 120px;
}
.drinks td {
    padding: 0px; 
 }
 .menu {
    width: 100%;
    height: 600px;
    background-image: url(assets/backgrounds/foodsBg.jpg);
    opacity: 0.8;
    position: relative;
 }
.menu table{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.customers{
    height: 400px;
    width: 100%;
    background-color: white;
}
.delivery {
    width: 100%;
    height: 300px;
    background-image: url(assets/backgrounds/subscribe.jpg);
    position: relative;
}
.deliverytxt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.deliverytxt input {
    width: 60%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.201);
    border: none;
    border-radius: 2px;
}
::placeholder{
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.811);
    font-size: 20px;
}
.deliverytxt button{
    background-color: #F15A29;
    color: rgba(255, 255, 255, 0.811);
    height: 45px;
    width: 32%;
    border: none;
    font-size: 20px;
    margin-left: 25px;
    border-radius: 2px;
}
.footer {
    width: 100%;
    height: 300px;
    background-color: #F15A29;
    color: white;
}
.footer table {
    margin-left: 40%;

}   






