body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.homepage {
    background-image: url(assets/backgrounds/landing.jpg);
    height:600px;
    position: relative;
}
.hr {
    width: 50px;
    left: 6%;
    top: 10%;
    position: absolute;
    size: 50px;
    color: whitesmoke;
}
.logo{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    font-size: 38px;
    text-align: center;
    color: white;
    width: 42%;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
